html, body {
    background-color: #000000;
    color: #ffffff;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#nav-bar {
    background-image: linear-gradient(to right, red, orange);
    padding-top: 1px;
    padding-bottom: 1px;
}
